body {
    text-align: center;
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

.container {
    display: inline-block;
    border: 10px solid #000;
    padding: 20px;
    background-color: #e0ffdb;
    width: 500%; /* デフォルトでは幅を100%に設定 */
    box-sizing: border-box; /* パディングとボーダーを含めて幅を計算 */
}

.button {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #ffc107, #d4a017);
    color: red;
    font-size: 30px;
    text-decoration: none;
    border: 5px solid #000;
    box-shadow: 0 5px #999;
    transition: all 0.2s ease;
}

.button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.red-text {
    color: red;
}
