body {
    text-align: center;
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px auto;
    padding: 20px;
    border: 10px solid #000;
    border-radius: 10px;
    width: 90%;
    max-width: 700px;
    background-color: #e0ffdb;
}

.button {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #ffc107, #d4a017);
    color: red;
    font-size: 30px;
    text-decoration: none;
    border: 5px solid #000;
    box-shadow: 0 5px #999;
    transition: all 0.2s ease;
}

.button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.red-text {
    color: red;
}

.full_width {
    margin-left: calc(150% - 100vw);
    width: 200vw;
}

.full_height {
     height: 200vh;
}
